<template>

    <lightning-spinner if:true={isLoading} alternative-text="Loading" size="small"></lightning-spinner>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="searchcombobox">{labelName}</label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false"
                    aria-haspopup="listbox" role="combobox">
                    <template if:false={selectedRecord}>
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                            role="none">
                            <input type="text" onchange={handleInputChange} onkeyup={handleInputChange}
                                onkeydown={handleInputChange} class="slds-input slds-combobox__input"
                                id="searchcombobox" aria-autocomplete="list" aria-controls="listbox-id-1"
                                autocomplete="off" role="textbox" data-id="searchcombobox" placeholder={placeholder} />
                            <span
                                class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
                                    aria-hidden="true">
                                    <use
                                        xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#search">
                                    </use>
                                </svg>
                            </span>
                        </div>
                        <div style="background: white;" id="listbox-id-1"
                            class="slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template if:true={searchRecords} for:each={searchRecords} for:item="record"
                                    for:index="index">
                                    <li onclick={handleSelect} role="presentation" class="slds-listbox__item"
                                        data-record-id={record.Id} key={record.Id}>
                                        <div data-id={record.Id}
                                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                            role="option">
                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                <span class="slds-icon_container slds-icon-standard-account">
                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                        <use xlink:href={ICON_URL}></use>0
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="slds-media__body">
                                                <span
                                                    class="slds-listbox__option-text slds-listbox__option-text_entity">
                                                    {record.FIELD1}
                                                </span>
                                                <span
                                                    class="slds-listbox__option-meta slds-listbox__option-meta_entity">
                                                    {objectLabel} • {record.FIELD2} &nbsp; {record.FIELD3} &nbsp;
                                                    {record.FIELD4}
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </template>
                    <template if:true={selectedRecord}>
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right"
                            role="none">
                            <span
                                class="slds-icon_container slds-icon-standard-account slds-combobox__input-entity-icon"
                                title={objectLabel}>
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xlink:href={ICON_URL}></use>
                                </svg>
                                <span class="slds-assistive-text">{objectLabel}</span>
                            </span>
                            <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value"
                                id="combobox-id-5" aria-controls="listbox-id-5" disabled autocomplete="off"
                                role="textbox" placeholder="Select an Option…" readonly=""
                                value={selectedRecord.FIELD1} />
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                                title="Remove selected option" onclick={handleClose}>
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use
                                        xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close">
                                    </use>
                                </svg>
                                <span class="slds-assistive-text">Remove selected option</span>
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>