<template>
    <lightning-card variant="Narrow" title="Contact" icon-name="standard:contact">
        <p class="slds-p-horizontal_small">
            <c-search-component obj-name="Contact" icon-name="standard:contact" label-name=""
                placeholder="Search via Name, Phone or Email" fields={fields} display-fields={displayFields}
                onlookup={handleLookup}>
            </c-search-component>
        </p>

    </lightning-card>
</template>